.aboutContainer{
    width: 60%;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 40px;
}

.textContainer{
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
}

@media (max-width: 576px) {
    div.aboutContainer{
        width: 90%;
    }
}