* {
    font-family: 'Poppins', sans-serif;
}

.logoIngesolda {
    height: 70px;
}

.navbar {
    padding: 20px 15%;
    margin: 0 auto;
    background-color: white;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    width: 100%;
    box-shadow: 0px 4px 15px 0px #EFEFEF;
}

Nav div {
    text-align: right;
    padding-top: 10px;
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, .55);
    border: none;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}

.blogSpan {
    background: #FFAC00;
    border-radius: 6px 0 6px 0;
    padding: 3px 5px;
    color: white;
    text-decoration: none;
    box-shadow: 4px 4px 15px 0px #EFEFEF;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        margin-top: 50px;
    }
}

@media (max-width: 576px) {
    .logoIngesolda {
        height: 50px;
    }
    .navbar.navbarMobile {
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
        padding: 10px 5%;
    }

    Nav div {
        text-align: center;
    }

    div.navbarContainer {
        text-align: center;
        padding: 10px;
    }
}


.navbar-light .navbar-nav .nav-link {
    color: #002963 !important;
}

.navbar-light .navbar-nav .nav-link.active {
    color: #FFAC00 !important;
}