.cardContainer p {
    font-size: 16px;
    font-weight: 400;
}

div.col-12 {
    padding: 0;
}

.icono {
    margin: 10px 20px 0 0;
}

@media (max-width: 320px) {
    div.cardContainer {
        width: auto;
    }
}