.title{
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #96C3C1;
    font-family: 'Raleway', sans-serif;
    color: #002963;
    text-align: center;
    /* width: 250px; */
    margin: 15px auto;
}

.title h1{
    font-size: 22px;
    margin: 10px auto;
    font-weight: 700;

}

@media (max-width: 576px) {
    div.title{
        width: 100%;
    }
}
